* {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  text-transform: uppercase;
  padding: 0;
  color: white;
}
nav {
  display: flex;
}
header {
  background-color: #2e323f;
}
.s1 {
  background-color: #3b4050;
}
.s2 {
  background-color: hsl(0, 0%, 90%);
}
.row {
  display: flex;
  flex-direction: column;
}
.s4 {
  background-color: #3b4050;
}
img {
  max-width: 100%;
}
.logo {
  width: 3rem;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 1200px;
}
button {
  color: white;
  background-color: #a59678;
  border-radius: 100px;
  padding: 0.6em 1.5em;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
}
button:hover {
  opacity: 0.5;
}

h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
h2{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #a59678;
}

.hero__right p {
  color: hsl(0, 0%, 90%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}
h3 {
  margin: 0;
  font-weight: bold;
  color: #a59678;
}

p {
  color: #6f737f;
  font-family: "Montserrat", sans-serif;
}
.box2{
    background-color: #3B4050;
    text-align: center;
    padding: 1rem;
}
.box2 h2{
    color: white;
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.s4 h1{
    text-align: center;
    margin-bottom: 1rem;
}
.s4 .box2{
    text-align: start;
}
.box1{
    text-align: center;
}
.flex{
    display: flex;
}
.space-between{
  justify-content: space-between;
  gap: 1rem
}
.col{
  flex-direction: column;
}
@media (min-width: 700px){
  .boxes{
    flex-direction: row;
  }
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
  }
  .space-between{
    justify-content: start;
    align-self: center;

  }
  .middle{
    
    display: flex;
    align-self: center;
    gap: 1rem;
    margin: 0 auto;
  }
  li{
    align-self: center;
  }
  .about{
    display: flex;
  }
}

@media(min-width:1000px){
    .s3 .boxes{
    flex-direction: column;
    width: 30%;
  }
  .col{
    flex-direction: row;
   justify-content: space-between;
  }
  .s3 .info{
    width: 60%;
  }
}
