body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.container {
  background-color: #23424a;
  color: white;
  padding: 8rem 0rem 8rem 0rem;
}
.container__text{
    width: 60%;
}
.box {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
}
.button {
  color: #23424a;
  background-color: #38cfd9;
  border: 0;
  border-radius: 2em;
  padding: 0.8em 2.2em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  margin-top: 3rem;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}

p {
  font-weight: 400;
  font-size: 21px;
}
