body, header{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
h1, h3{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin: 0 auto;
    color: #824936;
    text-align: center;
}
h1{
    font-size: 5rem;
}
h3{
    font-size: 3rem;
}
h5{
    font-weight: 300;
    margin: 0 auto;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1128px;
    padding: 4em 0;
}
.header{
    background-color:#F3EED9;
    min-height: 660px;
}
.box2{
    background-color: #222C2A;
    color: white;
}
.box3{
    background-color: #824936;
    color: white;
}
.row{
    display: flex;
    gap: 2em;
}
.box2 h3, .box3 h3{
    color: #F3EED9;
    text-align: left;
}
.vert{
    display: flex;
    align-items: center;
}
@media (max-width:770px){
    img{
        width: 100%;
    }
    .row{
        flex-direction: column;
    }
}
@media(max-width:500px){
    :root{
        font-size: 12px;
    }
    .header{
    background-color:#F3EED9;
    min-height: 300px;
}
}
@media(max-width:370px){
    :root{
        font-size: 6px;
    }
}
@media(max-width:180px){
   :root{font-size: 4px;}
   .header{
    background-color:#F3EED9;
    min-height: 200px;
}
}